/* general settings */
* {
    font-family: sans-serif;
    font-weight: 100;
    /* remove gaps between sections causes by header elements, without
messing up the centered "I Love" */
    margin-top: 0px;
}

body, div {
    /* remove gaps between sections */
    margin: 0;
    padding: 0;
}

body {
    width: 1080px;
    margin-left: auto;		/*center content*/
    margin-right: auto;
}

a {
    text-decoration: none;
}

/* 3-column formatting */
div.three-by {
    width: 100%;
}

div.three-by div {
    width: 32%;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
    border-width: 0;
}

div.three-by div:first-child {
    left: 0px;
}

div.three-by div:nth-child(2) {
    left: 32%;
}

div.three-by div:last-child {
    right: 0px;
}

/* 4-column formatting */
div.four-by {
    width: 100%;
}

div.four-by div {
    width: 24%;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
    border-width: 0;
}

div.four-by div:first-child {
    left: 0px;
}

div.four-by div:nth-child(2) {
    left: 24%;
}

div.four-by div:nth-child(3) {
    right: 24%;
}

div.four-by div:last-child {
    right: 0px;
}

/* general colors */
div#i_love_front, div#i_love_footer {
    background-color: #2196f3;
    color: white;
}

div#i_love_front a, div#i_love_footer a {
    color: inherit;
}

div#why_i_love {
    background-color: white;
    color: grey;
}

div#i_love_work, div#i_love_team {
    background-color: #f7f7f7;
    color: grey;
    padding-top: 50px;
    padding-bottom: 25px;
}

div#why_i_love, div#i_love_work, div#i_love_team {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

div#i_love_work h1, div#i_love_team h1 {
    color: #2196f3;
    font-weight: 400;
}

div#why_i_love a, div#i_love_work a, div#i_love_team a {
    color: #2196f3;
}

/* i_love_front section formatting */
div#i_love_front {
    height: 600px;
    position: relative;		/* necessary to get h1 centered */
}

div#i_love_front h1 {
    position: absolute;
    clear: both;
    bottom: 50%;
    height: 1px;		/* advice from http://www.werockyourweb.com/css-vertically-horizontally-center/ */
    width: 100%;
    text-align:center;
    font-size: 400%;
}

div#i_love_masthead {
    position: absolute;
    width: 70%;
    margin-left: 15%;
    margin-top: 10px;
}

div#md_template {
    float: left;
    font-size: 150%;
}

div#navigation {
    float: right;
    display: block;
}
		  

div#navigation a {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

div#navigation a:first-child {
    margin-left: 0;
}

div#navigation a:last-child {
    margin-right: 0;
}


/* why_i_love section formatting */
div#why_i_love {
    /* keep everything on a single line */
    white-space: nowrap;
}

div#why_i_love div {
    padding-top: 20px;
    padding-bottom: 20px;
    white-space: normal;
}

div#why_i_love div.text {
}

div#why_i_love div.text {
    text-align: center;
    font-size: 250%;
}

div#reason-blocks div:first-child {
    margin-right: 5px;
}

div#reason-blocks div:nth-child(2) {
    margin-right: 5px;
    margin-left: 5px;
}

div#reason-blocks div:last-child {
    margin-left: 5px;
}

/* i_love_work section formatting */
div#i_love_work {
}

div#i_love_work div {
    padding: 0px 0px 20px 0px;
    margin: 5px;
    background-color: white;
    width: 298px;
    box-shadow: 0px 1px 5px #888888, 0px -1px 5px #ffffff;
    text-align: left;
}

div#i_love_work div * {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

div#i_love_work div:first-child {
    margin-right: 5px;
}

div#i_love_work div:nth-child(2) {
    margin-right: 5px;
    margin-left: 5px;
}

div#i_love_work div:last-child {
    margin-left: 5px;
}

div#i_love_work div a {
    font-weight: 400;
    padding: 5px 5px 10px 5px;
    margin: 5px;
}

div#i_love_work div h2 {
    padding: 10px 5px 5px 5px;
    margin: 5px;
}
		     

/* i_love_slideshow section formatting */
div#i_love_slideshow {
    height: 400px;
}

/* i_love_team section formatting */

div#i_love_team {
    white-space: nowrap;
}

div#i_love_team div {
    background-color: white;
    box-shadow: 0px 1px 5px #888888, 0px -1px 5px #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

div#i_love_team div h3 {
    color: red;
}

div#i_love_team div:first-child {
    margin-right: 5px;
}

div#i_love_team div:nth-child(2) {
    margin-right: 5px;
    margin-left: 5px;
}

div#i_love_team div:nth-child(3) {
    margin-right: 5px;
    margin-left: 5px;
}

div#i_love_team div:last-child {
    margin-left: 5px;
}

/* i_love_footer section formatting */
div#i_love_footer {
    padding-bottom: 10px;
    padding-top: 20px;
}

div#contact-us, div#links {
    width: 39%;
    display: inline-block;
}

div#contact-us {
    float: left;
}

div#links {
    float: right;
}

div#made-by {
    clear: both;
}

div#contact-us, div#links, div#made-by {
    padding-left: 10%;
}

div#contact-us input, div#contact-us textarea {
    background-color: #2196f3;
    color: white;
    text-align:left;
    font-style: bold;
    font-weight: 800;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #a9a9a9;
}

div#contact-us form p:first-child, div#contact-us form p:nth-child(2) {
				       display: inline;
				       width: 45%;
				   }

div#contact-us button {
    right: 0px;
    margin-right: 0px;
    color: white;
    background-color: red;
    padding: 5px 5px 5px 5px;
}

div#contact-us button span {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
    font-style: bold;
    font-weight: 800;
}

div#contact-us button img {
    vertical-align: middle;
    padding: 0 0 2px 10px;
    margin: 0;
}

div#internal-links, div#external-links {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

div#internal-links h1, div#internal-links a, div#external-links h1, div#external-links a {
    display: table-row;
}

div#internal-links h1, div#external-links h1 {
    font-size: 100%;
    font-weight: 700;
}

/* other settings */
a:hover, a:active {
    color: yellow;
}