$blue:  #2196f3;
$default-bg: #f7f7f7;

#menu {
    background-color: $blue;
    color: white;
}

#header {
    background-color: $blue;
    color: white;
    font-size: 400%;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 4em;
}
