$blue:  #2196f3;
$off-white: #f7f7f7;

@mixin display-flex {
    display: -webkit-flex;
    display: flex;
}

@mixin flex-wrap($wrap-option) {
    -webkit-flex-wrap: $wrap-option;
    flex-wrap: $wrap-option;
}

@mixin align-items($alignment) {
    -webkit-align-items: $alignment;
    align-items: $alignment;
}


body {
    text-align: center;
    font-family: calibri, sans-serif;
    font-weight: lighter;
}

h1 {
    font-size: 230%;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
}

.layout-center-aligned {
    @include display-flex;
    @include flex-wrap(wrap);
    @include align-items(center);
}

.header {
    background-color: $blue;
    color: white;
}

.page-name {
    font-size: 150%;
}

.menu {
    font-size: 80%;
    font-weight: normal;
}

.menu-item {
    margin-right: 5%;
}

.header-text {
    font-size: 400%;
    padding-top: 13%;
    padding-bottom: 24%;
}

.quote {
    font-size: 225%;
    color: gray;
    margin-top: 80px;
}

.services {
    margin-bottom: 40px;

    p {
        font-size: 75%;
    }
}

.icon {
    width: 64pt;
    margin-top: 40px;

    path {
        fill: $blue;
    }
}

.work {
    background-color: $off-white;
    padding-top: 55px;
    padding-bottom: 30px;
}

.work-panel {
    margin-top:    5px;
    margin-bottom: 5px;
    border: solid;
    background-color: white;
}

.emphasis {
    color: $blue;
    font-weight: normal;
}
