/* definitions */
ul, li, a {
	list-style-type: none;
	text-decoration: none;
}
a, h1, h2, h3, h4, h5, h6, ul, li, p {
	font-family: Helvetica Neue;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
}
body, a, h1 {
	font-family: Helvetica Neue;
	text-align: center;
	width: auto;
	margin: 0;
	padding: 0;
}
nav {
	margin-right: 15%;
}
nav ul li{
	display: inline-block;
	width: auto;
}
nav li{
	width: auto;
	padding-left: 7px;
	padding-right: 7px;
}

/* 
________________________________________________________
 some color settings */
.blue {
	color:#0099FF;
}


/* 
________________________________________________________
 this wraps the whole website */
#wrapper {
	margin-top: 0;
	margin-right: 15%;
	margin-left: 15%;
	background: #eeeeee;
	width: auto;
	height:100%;
}

/* 
________________________________________________________
.left and .right are simply margin classes to keep the sites content centered at 70%.
Right now I'm just using this for the navigation and site name/logo. This is a tentative 
approach*/
.left {
	float: left;
	margin-right: auto;
}
.right {
	float: right;
 	margin-left: auto;
}

/* 
________________________________________________________
this is the blue header portion to include the navigation, the name/logo and
 the large centered text */
#header {
	width: 100%;
	height: 500px;
	background: #0099FF;
	color: #ffffff;
}
#header a {
	color: #ffffff;
}
#logo h1 {
	padding-top: 7px;
	margin-left: 15%;
	color: #ffffff;
}
#large-text {
    top: 150px;
    left: 30%;
    right: 30%;
    width: auto;
    height: 75px;
    color: white;
    position: absolute;
    text-align: center;
}
#large-text h1 {
    margin: auto;
    line-height: 75px;
    font-size: 75px;
    vertical-align: middle;
}

/* 
________________________________________________________
 this is the service section of the website */
 #service {
 	background: #ffffff;
 	width: 100%;
 	height: 600px;
 	text-align: center;
 	padding-top: 15px;
 	padding-bottom: 75px;
 }
 #service h2 { /* Large welcome text in service area */
 	font-size: 300%;
 	margin-top: 90px;
 	padding-bottom: 60px;
 }
 #service h3 { /* Smaller title text for each icon-area */
 	font-size: 90%;
 }
 .icon {
 	padding-left: 10px;
 	padding-right: 10px;
 }
#icon1 { /* Left most icon */
	display: inline-block;
	max-width: 180px;
	float: left;
	margin-left: auto;
	margin-right: auto;
}
#icon2 { /* Center icon */
	display: inline-block;
	max-width: 180px;
	margin-left: auto;
	margin-right: auto;
}
#icon3 { /* Right most icon */
	display: inline-block;
	max-width: 180px;
	float: right;
	margin-left: auto;
	margin-right: auto;
}

